<ul class="<%= css_class -%>">
  <%= collection_check_boxes(:person, method, Person.all, :id, :name) do |box| %>
    <li>
      <%= box.check_box(
                disabled: relatives.include?(box.object) || @person.new_record?,
                data: { remote: true, url: post_path, method: :patch },
                onchange: "$(this).data('params', 'relative_id=#{box.object.id}&checked=' + this.checked * this.checked)"
                ).concat(box.label) %>
    </li>
  <% end %>
</ul>
